.FooterSocials-linkList {
    margin: 0;
    padding: 0;
    margin-right: 100px;
    gap: 16px;
}

.FooterSocials-list {
    list-style-type: none;
}

.FooterSocials-link {

}

.FooterSocials-img {
    
}