.Navigation {
    margin-top: 15px;
    padding: 0 100px 0 100px;
    box-sizing: border-box;
}

.Navigation-linkList {
    display: flex;
    margin: 0;
    padding: 0;
    column-gap: 20px;
    list-style-type: ">";
}

.Navigation-list {
    padding-left: 10px;
}

.Navigation-list:first-child {
    list-style-type: none;
}

.Navigation-link {
    text-decoration: none;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #333;
}

.Navigation-link:hover {
    color: #878787;
}

