/* Основные стили для кнопки открытия меню */
.OptionsButton {
  width: 266px;
  height: 59px;
  border-radius: 5px;
  background-color: white;
  font-family: Manrope, sans-serif;
  padding: 20px 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  border: 1px solid #333;
  cursor: pointer;
}

/* Меню справа */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 1160px;
  height: 874px;
  background-color: #FFFFFF;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
}

.menu.open {
  transform: translateX(0);
  opacity: 1;
}

/* Затемнение фона */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.overlay.visible {
  visibility: visible;
  opacity: 1;
}

/* Новый фрейм внутри меню */
.new-frame {
  width: 100%; 
  max-width: 1080px;
  height: auto;
  min-height: 582px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px; /* Промежутки между элементами */
  background-color: #FFFFFF;
  opacity: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Scrollbar styles */
.new-frame::-webkit-scrollbar {
  width: 6px;
  opacity: 0; /* Initially hidden */
}

.new-frame::-webkit-scrollbar-thumb {
  background: #878787;
  border-radius: 10px;
}

.new-frame::-webkit-scrollbar-track {
  background: #F5F3F1;
  border-radius: 10px;
}

/* Show scrollbar on hover */
.new-frame:hover::-webkit-scrollbar {
  opacity: 1;
}

/* Заголовок меню с gap */
.menu-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; 
  max-width: 1080px;
  height: auto;
  min-height: 29px;
  gap: 40px; /* Промежуток между заголовком и кнопкой закрытия */
}

/* Текст заголовка */
.menu-heading-text {
  text-align: left;
  line-height: 28.8px;
  font-family: Manrope;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  width: auto;
  min-width: 179px;
  height: auto;
  min-height: 29px;
}

/* Кнопка закрытия */
.close-icon {
  display: flex; /* Центрирование изображения внутри кнопки */
  align-items: center; /* Центрирование по вертикали */
  justify-content: center; /* Центрирование по горизонтали */
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.close-icon img {
  width: 28px;
  height: 28px;
  display: block;
}

/* Контейнер этапов (табы) */
.tab-container {
  display: flex;
  overflow-x: hidden;
  width: 1080px;
  height: auto;
  min-height: 64px;
  column-gap: 10px; /* Промежутки между табами */
  transition: transform 0.3s ease-in-out;
  position: relative; /* Относительное позиционирование для корректной работы со смещением */
}

/* Этапы (табы) */
.tab-item {
  display: flex; /* Используем flexbox для выравнивания */
  align-items: center; /* Центрирование по вертикали */
  justify-content: center; /* Центрирование по горизонтали */
  height: auto;
  min-height: 42px;
  padding: 10px 20px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  border-radius: 90px;
  background-color: #FFFFFF;
  border: 1px solid #ECE5DE;
  color: #878787;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s;
}

.tab-item.active {
  background-color: #ECE5DE;
  color: #333333;
  font-weight: 600;
}

/* Стили для табов */
.step-installation {
  width: auto;
  min-width: 153px;
}

.step-visibility {
  width: auto;
  min-width: 222px;
}

.step-side {
  width: auto;
  min-width: 192px;
}

.step-fixation {
  width: auto;
  min-width: 74px;
}

.step-color {
  width: auto;
  min-width: 124px;
}

.step-comfort {
  width: auto;
  min-width: 219px;
}

/* Прогресс-бар */
.progress-bar-background {
  width: 1080px;
  height: 1px;
  background: #3333334D;
  border-radius: 20px;
  margin-top: 10px;
}

.progress-bar-fill {
  width: 180px;
  height: 1px;
  background-color: #333;
  border-radius: 20px;
  transition: width 0.3s ease-in-out;
}

/* Описание этапа */
.step-description {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  gap: 20px; /* Промежуток между элементами */
  padding: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  color: #333;
}

/* Блок со ссылкой на видео YouTube */
.video-container {
  width: auto;
  min-width: 71px;
  height: 100%; 
  max-height: 83px;
  padding: 5px 0 0 0; /* Верхний отступ 10px */
  gap: 5px; /* Отступ между иконкой и ссылкой */
  border-radius: 5px 0 0 0; /* Скругление углов */
  opacity: 1; /* Устанавливаем, чтобы элемент был видим */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-decoration-line: underline;
  align-self: self-start;
}

.icon-container {
  margin-bottom: 0px; /* Расстояние между иконкой и ссылкой */
}

.youtube-icon {
  width: 48.57px; /* Примерный размер иконки YouTube */
  height: 34px;
}

.link-container {
  font-size: 10px;
  font-family: 'Manrope';
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #333333;
  width: 51px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.watch-video-link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.watch-video-link:hover {
  text-decoration: underline;
}

/* Блок с иконкой и текстом */
.description-content {
  display: flex;
  align-items: flex-start; /* Выравнивание по верхнему краю */
  justify-content: flex-start;
  width: 100%; 
  max-width: 929px;
  height: auto;
  min-height: 71px;
  gap: 10px;
  padding: 0px 40px 0px 0px;
}

.description-icon {
    width: 10px;
    height: 10px;
}

.description-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Выравнивание по верхнему краю */
  align-items: flex-start; /* Выравнивание по левому краю */
  max-width: 800px; /* Ограничиваем ширину текста */
  font-family: Manrope;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

/* Стили для заголовков */
.custom-title {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.86px;
  text-align: left;
  margin-top: 10px; /* Расстояние от предыдущего текста */
  margin-bottom: 10px;
}
/* Стили для заголовков */
.custom-title-last-tab {
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 600;
  line-height: 21.86px;
  text-align: left;
  margin-bottom: 10px;
}

.description-text p {
  width: 959px;
  height: 38px;
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  text-align: left; /* Выравниваем текст по левому краю */
  line-height: 19.12px;
  font-size: 14px;
  font-weight: 400;
}



.read-more-container {
  display: flex;
  width: auto;
  min-width: 117px;
  height: auto;
  min-height: 23px;
  align-items: center; /* Выровняем иконку и текст по одной линии */
  gap: 5px; /* Отступ между текстом и иконкой */
  padding: 3px 0px 3px 0px;
  border: 0px 0px 1px 0px;
}

.read-more {
  padding: 3px 0px 3px 0px;
}

.read-more:hover {
  color: #555; /* Изменение цвета при наведении */
}

.read-more-icon {
  width: 11px;
  height: 9px;
}

/* Стиль для кнопки "Читать дальше" в свернутом состоянии */
.read-more-collapsed {
  width: auto;
  min-width: 101px;
  height: auto;
  min-height: 17px;
  display: inline;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  color: #878787;
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px 0px 3px 0px;
  transition: color 0.3s;
}

.read-more-collapsed:hover {
  color: #555;
}

/* Стиль для кнопки в развернутом состоянии */
.read-more-expanded {
  width: auto;
  min-width: 51px;
  height: auto;
  min-height: 17px;
  display: inline;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  color: #878787;
  background: none;
  border: none;
  cursor: pointer;
  padding: 3px 0px 3px 0px;
  transition: color 0.3s;
}

.read-more-expanded:hover {
  color: #000;
}

/* Стили для иконки кнопки "Читать дальше" */
.read-more-icon {
  width: 12px;
  height: 12px;
  margin-left: 5px;
  transition: transform 0.3s;
}

/* При развернутом состоянии иконка поворачивается */
.read-more-expanded .read-more-icon {
  transform: rotate(180deg);
}

/* Контейнер для изображения и опций */
.selection-container {
  display: flex;
  align-items: flex-start; /* Выровняем элементы по верхнему краю */
}

/* Контейнер для изображения */
.selection-image-container {
  width: 282px;
  height: 266px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-image {
  width: 282px;
  height: 266px;
}

/* Контейнер для опций и итоговой стоимости */
.options-and-price-container {
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 798px;
  height: auto;
  min-height: 267px;
  gap: 50px;
  padding: 0px 40px 0px 40px;
  opacity: 1;
}

/* Лист опций */
.option-list {
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 718px;
  height: auto;
  min-height: 190px;
  gap: 20px;
}

.option-item {
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Manrope;
  font-size: 16px;
  gap: 15px;
  color: #333;
}

/* Стили для чекбоксов */
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid #878787;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

/* Стиль для активного чекбокса */
input[type="checkbox"]:checked {
  background-color: #FFFFFF;
  border-color: #333333;
}

/* Галочка внутри активного чекбокса */
input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  position: absolute;
  width: 11px;  /* Ширина галочки */
  height: 5px;  /* Высота галочки */
  border: solid #333333;
  border-width: 0 0 2px 2px;  /* Устанавливаем ширину границ */
  transform: rotate(-45deg);  /* Угол поворота */
  top: 3.78px;  /* Позиционирование по вертикали */
  left: 3px;     /* Позиционирование по горизонтали */
}

/* Контейнер для текста опции и цены */
.option-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Выровняем текст по левому краю */
  width: 100%; /* Гарантируем, что текст не растягивается */
  gap: 4px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #333;
}

.option-details.selected {
  font-weight: 600; /* Если выбран, делаем жирный шрифт */
}

.option-price {
  font-size: 14px;
  color: #333333;
  width: 100%; /* Гарантируем, что текст не растягивается */
  height: auto;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.32px;
  text-align: left;
}

/* Итоговая цена */
.total-price {
  width: 254px;
  height: 27px;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.32px;
  text-align: left;
  margin-top: auto;
  color: #000000;
}

/* Настраиваемый стиль для суммы */
.total-price-value {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.32px;
  color: #000000;
}

/* Кнопки навигации */
.step-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  max-width: 1080px;
  height: auto;
  min-height: 59px;
  padding: 40px;
}

/* Нумерация шагов */
.step-counter {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.step-current {
  font-size: 24px; /* Увеличенный размер для левого числа */
  font-weight: 400;
}

/* Кнопки назад и далее */
.prev-button {
  padding: 20px 24px 20px 24px;
  width: auto;
  min-width: 110.14px;
  height: auto;
  min-height: 59px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: center;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #333333;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button {
  padding: 20px 24px 20px 24px;
  width: auto;
  min-width: 110.14px;
  height: auto;
  min-height: 59px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: center;
  border: 1px solid #333333;
  color: #FFFFFF;
  border-radius: 5px;
  background-color: #333333;
  cursor: pointer;
  transition: background-color 0.3s;
}
/*
.prev-button:hover, .next-button:hover {
  background-color: #ccc;
}
*/

.prev-button:disabled, .next-button:disabled {
  background-color: #FFFFFF;
  color: #333;
  cursor: not-allowed;
}

.next-button:disabled {
  background-color: #333333;
  color: #FFFFFF;
  cursor: not-allowed;
}

.prev-button .arrow-icon {
  width: 10px;  /* Задаем ширину и высоту для стрелки */
  height: 10px;
  margin-right: 10px; /* Отступ между стрелкой и текстом */
}

.next-button .arrow-icon {
  width: 10px;  /* Задаем ширину и высоту для стрелки */
  height: 10px;
  margin-left: 10px; /* Отступ между стрелкой и текстом */
}