.SpecialistMeasurementAdvantages {
    margin: 0;
    margin-top: 10px;
}

.SpecialistMeasurementAdvantages-list {
    margin: 0;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: #333;
}